.pointer {
  cursor: pointer;
}
.flex-center {
  @include centering;
}
.flex-center-y {
  display: flex;
  align-items: center;
}
.transition-3 {
  @include prefixer(transition, var(--time-transition));
}
.h-100vh {
  height: 100vh;
}
.bg-main {
  background-color: var(--c-main);
}
.text-main {
  color: var(--c-white-main);
}
.fs-special {
  font-family: var(--font-special);
}
.flex-1 {
  flex: 1;
}
.w-fit {
  width: fit-content;
}
