.pointer {
  cursor: pointer;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-y {
  display: flex;
  align-items: center;
}
.transition-3 {
  @include prefixer(transition, var(--time-transition));
}
.h-100vh {
  height: 100vh;
}