$xxs: "(max-width: 400px)";
$xs: "(max-width: 575.9px)";
$sm: "(min-width: 576px)";
$md: "(min-width: 768px)";
$lg: "(min-width: 992px)";
$xl: "(min-width: 1200px)";
$xxl: "(min-width: 1400px)";

$lg-max: "(max-width: 992px)";

:root {
  --font-special: "Oswald", sans-serif;

  --time-transition: 0.3s;
  --time-long: 1s;

  --c-main: #ec9215;
  --c-main-hover: #eca115d3;
  --c-main-transparent: #ec9d1533;

  --c-second: #fff;
  --c-second-shadow: #e1e1e1;
  --c-second-transparent: #ffffff97;

  --c-text-default: #444444;
  --c-black-main: #000;
  --c-white-main: #fff;
}
