.pagination-holder {
  .page-number {
    font-weight: 500;
    color: var(--c-black-main);

    &.active {
      font-weight: bold;
      color: var(--c-main);
    }
  }

  .pagination-button {
    color: var(--c-main);

    &:disabled {
      color: var(--c-gray-main);
    }
  }
}
