.notification-warning {
  background-color: var(--c-second-transparent);
  z-index: 998;

  .warning-box {
    min-width: 320px;
    max-width: 90%;
    @include animation(popup, var(--time-transition) ease-out forwards);

    .warning-header {
      border-bottom-width: 2px;
      color: var(--bs-danger);
    }
  }
}