#navbar {
  height: 10vh;

  &::after {
    content: "";
    background-color: var(--c-white-main);
    width: 2px;
    position: absolute;
    @include center-x;
    top: 0;
    bottom: 0;
  }

  a {
    color: var(--c-black-main);
    svg {
      font-size: 1.5rem;
    }

    &.pen {
      @include same-scale(60px);
      box-shadow: 0 5px 15px 0 #444444c5;

      svg {
        font-size: 1.2rem;
      }
    }
  }
}
