#navbar {
  padding: 0.5rem 0;

  &::after {
    content: "";
    background-color: var(--c-white-main);
    width: 2px;
    position: absolute;
    @include center-x;
    top: 0;
    bottom: 0;
  }

  .nav-item {
    a {
      color: var(--c-black-main);
      span {
        font-size: 0.8rem;
      }
    }
  }
}
