.formik-controller {
  textarea {
    resize: none;
    height: 150px;
  }

  input,
  textarea {
    &.with-icon {
      padding-right: 2.5rem;
    }
  }
  svg {
    @include center-y;
    right: 1rem;
    font-size: 1.25rem;
  }
}
